<footer class="footer">
    <div class="container">
      <div class="grid">
        <div>
          <div class="t">Guides</div>
          <a routerLink="/search">Prendre un rendez-vous</a>
          <a routerLink="/confirm">Confirmer / Annuler</a>
          <a routerLink="/search">Paiement mobile (Wave/OM/Yas)</a>
        </div>
  
        <div>
          <div class="t">Spécialités</div>
          <a routerLink="/search?specialty=Généraliste">Généraliste</a>
          <a routerLink="/search?specialty=Dentiste">Dentiste</a>
          <a routerLink="/search?specialty=Gynécologue">Gynécologue</a>
        </div>
  
        <div>
          <div class="t">Villes</div>
          <a routerLink="/search?city=Dakar">Dakar</a>
          <a routerLink="/search?city=Thiès">Thiès</a>
          <a routerLink="/search?city=Saint-Louis">Saint-Louis</a>
        </div>
  
        <div>
          <div class="t">AlloDocteur</div>
          <a routerLink="/login">Compte</a>
          <a routerLink="/search">Recherche</a>
          <a routerLink="/confirm">Rendez-vous</a>
        </div>
      </div>
  
      <div class="bottom">
        <span>© {{year}} AlloDocteur Sénégal</span>
        <span class="sep">•</span>
        <span>Confidentialité</span>
        <span class="sep">•</span>
        <span>CGU</span>
      </div>
    </div>
  </footer>
  