.bottomNav{
    position:fixed;
    bottom:0; left:0; right:0;
    height:68px;
    background:#fff;
    border-top:1px solid var(--border);
    display:none;
    justify-content:space-around;
    align-items:center;
    z-index:60;
  }
  
  .bottomNav a{
    text-decoration:none;
    color:#64748b;
    font-weight:800;
    font-size:11px;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:4px;
  }
  
  .bottomNav a.active{
    color: var(--primary);
  }
  
  @media(max-width:860px){
    .bottomNav{ display:flex; }
  }
  