<nav class="bottomNav">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <mat-icon>home</mat-icon>
      <span>Accueil</span>
    </a>
  
    <a routerLink="/search" routerLinkActive="active">
      <mat-icon>search</mat-icon>
      <span>Recherche</span>
    </a>
  
    <a routerLink="/rendezvous" routerLinkActive="active">
        <mat-icon>event</mat-icon>
        <span>Rendez-vous</span>
    </a>
      
    <a routerLink="/login" routerLinkActive="active">
      <mat-icon>person</mat-icon>
      <span>Profil</span>
    </a>
  </nav>
  